/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

#output {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 3px #c4e7ff;
  background-color:#fffdf2;
  border-radius: 30px;
  height: 200px;
  overflow-y: scroll;
}

#minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #70a7ff;
    background-color:#ffe3fa;
    border-radius: 30px;
  }

  .section1 {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #f5c4ff;
    background-color: #fffdf2;
    border-radius: 30px;
  }
  .section2 {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #f5c4ff;
    background-color:#fffdf2;
    border-radius: 30px;
  }
  .section3 {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #f5c4ff;
    background-color:#fffdf2;
    border-radius: 30px;
  }

  .div1 {
    text-align: left;
    }
  .div2 {
    text-align: right;
  }

  body {
    background-color: rgb(192, 222, 255);
  }

  h1 {
    text-align: center;
    font-family: 'Arial Narrow Bold';
    color: #7c1b64;
  }

  h2 {
    text-align: left;
    font-family: 'Arial Narrow Bold';
    color: #3b51b1;
    font-size: larger;
    font-weight: lighter;
  }

  p {
    font-family: 'Arial Narrow Bold';
    color: #3080d0;
    font-size: larger;
    text-align: center;
  }

  h3 {
    text-align: center;
    font-family: 'Arial Narrow Bold';
    color: #4f0f32;
    font-size: larger;
    font-weight: lighter;
  }
  

/* Credit to W3Schools for the link color change */
a:link {
  color: rgb(93, 7, 64);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(0, 140, 255);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(180, 43, 169);
  background-color: transparent;
  text-decoration: underline;
}

