/* this css file will only style the homepage of our site */
body {
  background-color: #f7ccf9;
}
h1,h2,h3 {
  font-family: sans-serif;
}

h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

#content {
  margin: 10px;
  padding: 10px;
  border: solid 8px #ffffff;
  border-radius: 30px;
  border-style: dotted;
  background-color: #dcd3ff;
}

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 5px #e1f0ff;
  background-color: #ffffff;
  border-radius: 30px;
}
#cow {
  width: 300px;
}
#me {
  border: solid 5px #f7ccf9;
  border-radius: 700px;
  width: 300px;
}

/* Credit to WesBot for ".photo-box" code below to help center image */

.photo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

.cat-photo {
  margin: 10px;
  max-width: 500px;
}

*PHOTO

.side-by-side {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title-page {
  background-color: #ffffff;
  border-radius: 20px;
  border: 10px white;
}

ul {
  text-align: center;
  font-style: italic;
  font-family: Haettenschweiler;
  font-size: 75%;
  color: #93c9ff;
}
h3 {
  font-size: 150%;
  font-family:cambria;
  font-weight: 200 ;
  word-spacing: 30%;
  font-weight: lighter;
  color: #233d59;
}
h1 {
  color: #acd5ff;
  text-align: center;
  font-size: xx-large;
  font-family: 'Gill Sans MT';
  font-weight: bolder;
}
h2 {
  font-weight: lighter;
  font-family: Cambria;
  text-align: center;
  color: #acd5ff;
}

p {
  text-align: center;
  font-size: large;
}
