/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #ffffff;
    background-color: #cbdeff;
    border-radius: 20px;

    body {
      background-color: #333333;
    }
  }
  #Cleo {
    width: 650px;
  }
h1 {
  font-family: 'Times New Roman';
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
}
#content {
  border: 10px #c2c7fd;
  border-style: dotted;
  border-radius: 20px;
}

h2 {
  text-align: center;
  font-family: 'Times New Roman';
  font-size: large;
  font-style: oblique;
}
p {
  text-align: center;
}
