/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
  #me {
    width: 300px;
}
.minor-section {
  background-color: #a0c2ee;
}
#lab3 {
  width: 800px;
}
#task1code {
  width: 300px;
}
#task2code {
  width: 300px;
}
#task2 {
  width: 300px;
}
#task3code {
  width: 300px;
}
#task3 {
  width: 300px;
}

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 3px #ffffff;
  border-radius: 30px;
}

.div1 {
  text-align: left;
  }
.div2 {
  text-align: right;
}

#content {
border-radius: 30px;
}

h1 {
  text-align: center;
  font-family: 'Arial Narrow Bold';
  color: #000000;
}

h2 {
  text-align: left;
  font-family: 'Arial Narrow Bold';
  color: #000000;
  font-size: larger;
  font-weight: lighter;
}

p {
  font-family: 'Arial Narrow Bold';
  color: #000000;
  font-size: larger;
  text-align: center;
}
